## Day2 Data Science

## Conditions and Logic

In [15]:
# Applying Logic using the if statment 
name = 'Harsh Shah'
if name == 'Harsh Shah':
    print('Hii')
else :
    print ('wrong name ')

Hii

In [26]:
#create a list of names 
name = ['Harsh Shah ','Jatin Shah','Alpa Shah','Jaineel Shah ']
if 'Jatin Shah' in name:
    #using python escapes
    print('Jatin\'s is there')

Jatin's is there

## Loops

In [28]:
#for loop
for name in name : 
    print(name)

Harsh Shah
Jatin Shah
Alpa Shah
Jaineel Shah

In [5]:
#range for the set number of time. 
for idx in range(10):
    print(idx)

0
1
2
3
4
5
6
7
8
9

In [23]:
launch= 0
total = 5

while True:
    print ('shuttule launch')
    launch +=1
    if launch == total :
        print ('all the shuttule launch')
        break

shuttule launch
shuttule launch
shuttule launch
shuttule launch
shuttule launch
all the shuttule launch

In [29]:
family = {
    "name": 'Harsh Shah',
    "role": 'son',
    "age": 21
}

In [33]:
#accessing dictionery keys 
family.keys()
family.values()

dict_values(['Harsh Shah', 'son', 21])

In [37]:
#loop through dictionery
for value in family.values():
    print(value)

Harsh Shah
son
21

In [39]:
family.items()

dict_items([('name', 'Harsh Shah'), ('role', 'son'), ('age', 21)])

In [41]:
#loop through key and value 
for key , value in family.items():
    print(key)
    print(value,'\n')

name
Harsh Shah

role
son

age
21