# 30 Day Chalange 
## Day 1

In [6]:
print("My 30 days Data Science Chalange")

My 30 days Data Science Chalange

## Vraible
* A variable is a name that refers to a value stored in memory.
* Think of it as a container that holds data like a number or string.

In [31]:
#Assighning the varible name.
name = "Harsh Shah"
num = 245
print(name)

Harsh Shah

In [29]:
#we can actualy find the data type of the variable thrpugh this.
type(name)

str

# 1.Data Types
* Data type defines what kind of value a variable holds (e.g., number, text, list).
* Python automatically assigns data types when you assign a value.

In [37]:
#this is declaring variable as integer 
integer_varaible = 2543
print (integer_varaible)

2543

In [39]:
#This is declaring Float Varible 
flot_variable =123.89
print(flot_variable)

123.89

In [44]:
# this is declaring Bollean Variable 
boll_variable = True
type(boll_variable)

bool

In [62]:
#list it is also called an array.
list_variable = [0,2]
print(list_variable)

[0, 2]

In [68]:
list_variable[1]=3
list_variable

[0, 3]

# Tuple
* A tuple is an ordered, unchangeable collection of items, enclosed in parentheses ().
* Use a tuple when you don’t want the values to be changed.

In [76]:
#creating tuple variable (It is IMUTABLE)
tuple_variable =(9,2,4,6,23,54,99.99)
type(tuple_variable)

tuple

In [78]:
#ERROR we can not change the value so thats why it is called IMMUTABLE.
tuple_variable(1)= 3

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (254680082.py, line 2)

In [90]:
#this is creating set Variable (It is also IMMUTABLE + You can not add duplicate )
set_variable={2,45,9,67,3,45}
print(set_variable)

{2, 67, 3, 9, 45}

In [106]:
#difining Dictionery variable(it has key and value )
dict_variable = {'name':"Harsh",'date':90} 
print(dict_variable)

{'name': 'Harsh', 'date': 90}

In [110]:
dict_variable['name']

'Harsh'

In [112]:
#typecasting list to tuple 
tuple(list_variable)

(0, 3)

# 2. List
* A list is an ordered, changeable collection of items, enclosed in square brackets [].
* Use a list when you want to store multiple items in a single variable.

In [119]:
#create
name =['Harsh','Jaineel','Alpa','Jatin']

In [121]:
# Read
name

['Harsh', 'Jaineel', 'Alpa', 'Jatin']

In [123]:
name[-1]

'Jatin'

In [125]:
len(name)

4

In [129]:
# Update
name[1]='Ravan'
name

['Harsh', 'Ravan', 'Alpa', 'Jatin']

In [133]:
#append to add back Jaineel again in the list .
name.append('Jaineel')
name

['Harsh', 'Ravan', 'Alpa', 'Jatin', 'Jaineel', 'Jaineel']

In [143]:
name.insert(0,'Rajnikant')

In [145]:
name

['Rajnikant',
 'Rajnikant',
 'Rajnikant',
 'Rajnikant',
 'Rajnikant',
 'Harsh',
 'Ravan',
 'Alpa',
 'Jatin',
 'Jaineel',
 'Jaineel']

In [159]:
#Delete
del name[-1]
name

['Rajnikant', 'Harsh', 'Ravan', 'Alpa', 'Jatin', 'Jaineel']

# 3. Dictionaries 
* A dictionary stores key-value pairs, is unordered, and is changeable. Uses curly braces {}
* Use a dictionary when you want to label data.

In [162]:
#create
family ={'name':"Harsh", 'role':"Son",'Occupation':"Student"}

In [164]:
#read
family

{'name': 'Harsh', 'role': 'Son', 'Occupation': 'Student'}

In [166]:
family['name']

'Harsh'

In [168]:
family.keys()

dict_keys(['name', 'role', 'Occupation'])

In [176]:
#update
family['role']='Father'
family

{'name': 'Harsh', 'role': 'Father', 'Occupation': 'Student'}

In [182]:
#delete
del family['name']
family

{'Occupation': 'Student'}

# Difference Between List, Set & Tuple
| Feature    | List      | Tuple     | Set           |
| ---------- | --------- | --------- | ------------- |
| Ordered    | ✅ Yes     | ✅ Yes     | ❌ No          |
| Duplicates | ✅ Allowed | ✅ Allowed | ❌ Not Allowed |
| Mutable    | ✅ Yes     | ❌ No      | ✅ Yes         |
| Syntax     | `[1,2,3]` | `(1,2,3)` | `{1,2,3}`     |

### 📝 **Summary**

* Variables are used to store data values.

* Data types define the kind of data (like numbers, text, lists, etc.).

* List: Ordered, changeable, allows duplicates – use square brackets [].

* Tuple: Ordered, unchangeable, allows duplicates – use parentheses ().

* Set: Unordered, changeable, no duplicates – use curly braces {}.

* Dictionary: Stores key-value pairs, changeable, unordered – use curly braces {}.

###  Use lists for flexible sequences,
### tuples for fixed data, 
### sets for unique items, 
### dictionaries to map keys to values